[submodule "js-slang/src/scm-slang"]
	path = js-slang/src/scm-slang
	url = https://github.com/source-academy/scm-slang.git
[submodule "js-slang/src/py-slang"]
	path = js-slang/src/py-slang
	url = https://github.com/source-academy/py-slang
